/* 전체 레이아웃 */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

/* 헤더 */
.header {
  height: 60px;
  border-bottom: 1px solid #ddd;
}

/* 내비게이션 바 */
.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 좌측 정렬 */
  padding: 0 4vw 0 0; /* 상 우 하 좌 패딩 거리 */
  box-sizing: border-box;
}

.nav-left {
  display: flex;
  gap: 16px;
}

/* nav 중앙 메뉴 */
.nav-center {
  /* margin-left: auto; */
  display: flex;
  gap: 24px; /* span 사이 간격 */
  margin-right: 64px;
}

.nav-right {
  display: flex;
  gap: 12px;
}

.nav-center span {
  cursor: pointer;
  white-space : nowrap;
  font-size: 14px;
}

.nav-btn {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 6px;
}

.nav-btn:hover {
  background-color: #f2f2f2;
}


/* 로그인 버튼 */
.login-btn {
  /*margin-left: auto;*/ /* 오른쪽 끝으로 이동 */
  margin-right: 10px;
  padding: 6px 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* 본문 콘텐츠 */
.content {
  flex: 1; /* 화면 남은 공간 채우기 */
  width : 100%;
  padding: 0; /*전체 페이지 가로 길이 변경*/
  box-sizing: border-box;
  min-width: 0;
}

.logo {
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
  border-bottom: 1px solid #ccc;
}

.logo-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}


.nav-group-right {
  display: flex;
  gap: 20px;

  /* 🔥 이 한 줄이 핵심 */
  margin-left: auto;
}
